.item-to-animate-up.active {
  animation: animate-up 0.5s ease-in 0.1s forwards;
}
.item-to-translate-animation.active {
  animation: translate-animation 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
}
@keyframes translate-animation {
  100% {
    transform: var(--transform);
  }
}
@keyframes animate-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
