/*******************/
/*  */
/*******************/
.section-container-v1 {
	--tw-bg-opacity: 1;
	background-color: rgba(var(--color-bg-primary-100) / var(--tw-bg-opacity));
	padding: 2rem 4rem;
	border-radius: 1rem;
}

/*******************/
/*  */
/*******************/

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.center-content > * {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.objects-contain > * {
	object-fit: contain;
}
.objects-cover > * {
	object-fit: cover;
}

@media all and (max-width: 768px) {
	.center-on-ls-md-screens {
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.center-on-ls-md-screens > * {
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

/*******************/
/* .box */
/*******************/

/* .box {
	overflow: hidden;
} */

/*******************/
/* two-columns-box */
/*******************/

.two-columns-box {
	display: flex;
	justify-content: center;

	flex-direction: row;
	text-align: initial;
}
.two-columns-box .md-box {
	max-width: min(50ch, 50%);
}
@media all and (max-width: 768px) {
	.two-columns-box {
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.two-columns-box .md-box {
		max-width: none;
	}
}
.two-columns-box .image-only-box {
	/* min-width: 24rem; */
}
@media all and (max-width: 1024px) {
	.two-columns-box .image-only-box {
		min-width: auto;
	}
}
.two-columns-box .md-box a > img {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0;
	margin-right: 0;
}
.two-columns-box .md-box h1 {
	font-size: var(--size-h3);
	--tw-text-opacity: 1;
	color: rgba(var(--color-text-primary-600) / var(--tw-text-opacity));
}
.two-columns-box .md-box h2 {
	font-size: var(--size-h4);
}
.two-columns-box .md-box p {
	font-size: 90%;
}
.two-columns-box .md-box p a:first-child {
	width: fit-content;
}
.two-columns-box .image-only-box {
	/* width: 24rem;
	height: 24rem; */
}
.two-columns-box .image-only-box > img {
	width: 100%;
	height: 100%;
}
.box .two-columns-box {
	width: 100%;
	justify-content: space-between;
}

/*******************/
/*  */
/*******************/
.md-box {
	font-size: var(--size-h6);
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}
.md-box > * {
	margin-top: 0.25rem;
}
.md-box ul,
.md-box ol {
	list-style: initial;
	list-style-position: inside;
}
.md-box a {
	list-style: initial;
	list-style-position: inside;
	--tw-text-opacity: 1;
	color: rgba(var(--color-special-primary-700) / var(--tw-text-opacity));
	font-weight: 700;
}
.md-box a:hover,
.md-box a:focus {
	--tw-text-opacity: 0.8;
}
.md-box img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.md-box table {
	border-collapse: collapse;
	font-weight: lighter;
	margin: 2em 0;
	color: rgba(var(--color-text-primary-500) / 1);
	background-color: rgba(var(--color-bg-primary-500) / 1);
	max-width: 100%;
	overflow-x: auto;
}

.md-box table th {
	text-align: center;
	font-weight: 500;
	padding: 0.5em;
	background-color: rgba(var(--color-bg-primary-600) / 0.35);
	border: 0.0625px solid rgba(var(--color-bg-primary-600) / 0.5);
}
:global(.dark) .md-box table th {
	background-color: rgba(var(--color-bg-primary-600) / 1);
	border: 0.0625px solid rgba(var(--color-bg-primary-300) / 0.5);
}
.md-box table th:nth-child(n + 2) {
	width: 4em;
}
.md-box table td {
	text-align: center;
	padding: 0.5em;
	border: 0.0625px solid rgba(var(--color-bg-primary-600) / 0.5);
}
:global(.dark) .md-box table td {
	border: 0.0625px solid rgba(var(--color-bg-primary-300) / 0.5);
}
.md-box table td:first-child {
	font-weight: 500;
}
.md-box table tbody tr:nth-child(even) {
	background-color: rgba(var(--color-bg-primary-600) / 0.2);
}
:global(.dark) .md-box table tbody tr:nth-child(even) {
	background-color: rgba(var(--color-bg-primary-600) / 0.5);
}
.md-box table tbody tr:hover,
.md-box table tbody tr:nth-child(even):hover {
	background-color: rgba(var(--color-bg-primary-700) / 0.3);
}
:global(.dark) .md-box table tbody tr:hover,
:global(.dark) .md-box table tbody tr:nth-child(even):hover {
	background-color: rgba(var(--color-bg-primary-700) / 0.8);
}

.md-box.blog-post {
	line-height: 1.5;
}

.md-box.blog-post h1,
.md-box.blog-post h2,
.md-box.blog-post h3,
.md-box.blog-post h4,
.md-box.blog-post h5,
.md-box.blog-post h6 {
	margin-top: calc(1rem * 8 / var(--hIndex));
	margin-bottom: calc(1rem * 2 / var(--hIndex));
	font-weight: lighter;
}
.md-box.blog-post > *:first-child {
	margin-top: 0;
}
.md-box.blog-post h1 {
	font-size: var(--size-h4);
}
.md-box.blog-post h2 {
	font-size: var(--size-h4);
}
.md-box.blog-post h3 {
	font-size: var(--size-h4);
}
.md-box.blog-post h4 {
	font-size: var(--size-h4);
}
.md-box.blog-post h5 {
	font-size: var(--size-h5);
}
.md-box.blog-post h6 {
	font-size: var(--size-h6);
}
.md-box.blog-post img {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*******************/
/*  */
/*******************/
.tabs-box .md-box h1,
.tabs-box .md-box h2,
.tabs-box .md-box h3,
.tabs-box .md-box h4,
.tabs-box .md-box h5,
.tabs-box .md-box h6 {
	margin-top: 2rem;
}
.tabs-box .md-box > *:first-child {
	margin-top: 0;
}

/*******************/
/*  */
/*******************/
.slider-box iframe {
	min-width: auto !important;
}
/*******************/
/*  */
/*******************/
.image-only-box {
	overflow: hidden;
}
.image-only-box img {
	width: 100%;
}
