@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--tw-bg-opacity: 1;

		/**/
		--color-initial-primary-0: 255 255 255;
		--color-initial-primary-100: 210 210 210;
		--color-initial-primary-200: 165 165 165;
		--color-initial-primary-300: 120 120 120;
		--color-initial-primary-400: 75 75 75;
		--color-initial-primary-500: 31 31 31;
		--color-initial-primary-600: 24 24 24;
		--color-initial-primary-700: 18 18 18;
		--color-initial-primary-800: 13 13 13;
		--color-initial-primary-900: 6 6 6;
		--color-initial-primary-1000: 0 0 0;

		--color-initial-secondary-0: 255 255 255;
		--color-initial-secondary-100: 253 253 253;
		--color-initial-secondary-200: 251 251 251;
		--color-initial-secondary-300: 248 248 248;
		--color-initial-secondary-400: 246 246 246;
		--color-initial-secondary-500: 244 244 244;
		--color-initial-secondary-600: 195 195 195;
		--color-initial-secondary-700: 146 146 146;
		--color-initial-secondary-800: 98 98 98;
		--color-initial-secondary-900: 49 49 49;
		--color-initial-secondary-1000: 0 0 0;

		--color-initial-ternary-0: 0 0 0;
		--color-initial-ternary-100: 206 207 209;
		--color-initial-ternary-200: 157 159 162;
		--color-initial-ternary-300: 109 112 116;
		--color-initial-ternary-400: 60 64 69;
		--color-initial-ternary-500: 12 17 24;
		--color-initial-ternary-600: 9 13 18;
		--color-initial-ternary-700: 7 10 14;
		--color-initial-ternary-800: 4 6 9;
		--color-initial-ternary-900: 2 3 5;
		--color-initial-ternary-1000: 255 255 255;

		/**/

		--color-text-primary-0: var(--color-initial-primary-0);
		--color-text-primary-100: var(--color-initial-primary-100);
		--color-text-primary-200: var(--color-initial-primary-200);
		--color-text-primary-300: var(--color-initial-primary-300);
		--color-text-primary-400: var(--color-initial-primary-400);
		--color-text-primary-500: var(--color-initial-primary-500);
		--color-text-primary-600: var(--color-initial-primary-600);
		--color-text-primary-700: var(--color-initial-primary-700);
		--color-text-primary-800: var(--color-initial-primary-800);
		--color-text-primary-900: var(--color-initial-primary-900);
		--color-text-primary-1000: var(--color-initial-primary-1000);

		--color-bg-primary-0: var(--color-initial-secondary-0);
		--color-bg-primary-100: var(--color-initial-secondary-100);
		--color-bg-primary-200: var(--color-initial-secondary-200);
		--color-bg-primary-300: var(--color-initial-secondary-300);
		--color-bg-primary-400: var(--color-initial-secondary-400);
		--color-bg-primary-500: var(--color-initial-secondary-500);
		--color-bg-primary-600: var(--color-initial-secondary-600);
		--color-bg-primary-700: var(--color-initial-secondary-700);
		--color-bg-primary-800: var(--color-initial-secondary-800);
		--color-bg-primary-900: var(--color-initial-secondary-900);
		--color-bg-primary-1000: var(--color-initial-secondary-1000);

		/* green */
		--color-special-primary-100: 214 245 245;
		--color-special-primary-200: 173 234 234;
		--color-special-primary-300: 132 224 224;
		--color-special-primary-400: 91 213 213;
		--color-special-primary-500: 50 203 203;
		--color-special-primary-600: 40 162 162;
		--color-special-primary-700: 30 122 122;
		--color-special-primary-800: 20 81 81;
		--color-special-primary-900: 10 41 41;

		/* yellow */
		--color-special-secondary-100: 250 242 227;
		--color-special-secondary-200: 246 229 199;
		--color-special-secondary-300: 241 215 170;
		--color-special-secondary-400: 237 202 142;
		--color-special-secondary-500: 232 189 114;
		--color-special-secondary-600: 186 151 91;
		--color-special-secondary-700: 139 113 68;
		--color-special-secondary-800: 93 76 46;
		--color-special-secondary-900: 46 38 23;

		/*  */
		--main-max-w: 1728px;
		--main-header-h: 4rem;
		--size-h1: 2rem;
		--size-h2: 1.9rem;
		--size-h3: 1.8rem;
		--size-h4: 1.6rem;
		--size-h5: 1.4rem;
		--size-h6: 1.2rem;
		--main-p-1: 4rem;
		--main-p-2: 3rem;
		--main-p-3: 2rem;
		--main-p-4: 1rem;

		--main-content-min-h: calc(100vh - var(--main-header-h));

		--leading-h1: 3rem; /* 62px */
		--leading-h2: 2.75rem; /* 62px */
		--leading-primary-1: 2.5rem; /* 40px */
		--leading-primary-2: 2.25rem; /* 36px */
		--leading-primary-3: 2rem; /* 32px */
		--leading-primary-4: 1.75rem; /* 28px */
		--leading-primary-5: 1.5rem; /* 24px */
		--leading-primary-6: 1.25rem; /* 20px */
	}

	html,
	body {
		width: 100%;
		height: 100%;
	}

	body {
		font-weight: 300;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		line-height: var(--leading-primary-1);
	}

	svg {
		font-size: inherit;
	}
}

.dark {
	--color-text-primary-0: var(--color-initial-secondary-0);
	--color-text-primary-100: var(--color-initial-secondary-100);
	--color-text-primary-200: var(--color-initial-secondary-200);
	--color-text-primary-300: var(--color-initial-secondary-300);
	--color-text-primary-400: var(--color-initial-secondary-400);
	--color-text-primary-500: var(--color-initial-secondary-500);
	--color-text-primary-600: var(--color-initial-secondary-600);
	--color-text-primary-700: var(--color-initial-secondary-700);
	--color-text-primary-800: var(--color-initial-secondary-800);
	--color-text-primary-900: var(--color-initial-secondary-900);
	--color-text-primary-1000: var(--color-initial-secondary-1000);

	--color-bg-primary-0: var(--color-initial-primary-0);
	--color-bg-primary-100: var(--color-initial-primary-100);
	--color-bg-primary-200: var(--color-initial-primary-200);
	--color-bg-primary-300: var(--color-initial-primary-300);
	--color-bg-primary-400: var(--color-initial-primary-400);
	--color-bg-primary-500: var(--color-initial-primary-500);
	--color-bg-primary-600: var(--color-initial-primary-600);
	--color-bg-primary-700: var(--color-initial-primary-700);
	--color-bg-primary-800: var(--color-initial-primary-800);
	--color-bg-primary-900: var(--color-initial-primary-900);
	--color-bg-primary-1000: var(--color-initial-primary-1000);
}

@layer utilities {
	.text-align-initial {
		text-align: initial;
	}
	.ellipse-text {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.cards-container:hover .card-animation-1:not(:hover, :focus-within, :focus) {
		filter: brightness(0.75);
	}
	.cards-container .card-animation-1:hover,
	.cards-container .card-animation-1:focus-within,
	.cards-container .card-animation-1:focus {
		filter: brightness(1.05);
	}

	.cards-container .card-img-zoom-animation-1:hover,
	.cards-container .card-img-zoom-animation-1:focus {
		transform: scale(1.1);
	}

	.card:hover .card-img-zoom-animation-1-1,
	.card:focus-within .card-img-zoom-animation-1-1 {
		transform: scale(1.1);
	}
}
