.swiper {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	--swiper-pagination-bullet-inactive-color: #7548fe;
	--swiper-pagination-color: #7548fe;
}

.swiper-wrapper {
	padding: 1rem 0;
}

.swiper-fluid .swiper-wrapper {
	display: flex;
}
.swiper-fluid .swiper-slide {
	flex-grow: 1;
}

/* .swiper-button-next,
[dir='rtl'] .swiper-button-prev {
	content: '' !important;
	background-image: url('/svgs/right-arrow 2.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	right: 0% !important;
	transform: translate(0%, -100%) !important;
}
.swiper-button-next:after,
[dir='rtl'] .swiper-button-prev:after {
	content: '' !important;
}

.swiper-button-prev,
[dir='rtl'] .swiper-button-next {
	content: '' !important;
	background-image: url('/svgs/left-arrow 2.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	left: 0% !important;
	transform: translate(0, -100%) !important;
}
.swiper-button-prev:after,
[dir='rtl'] .swiper-button-next:after {
	content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
	width: 0.75rem !important;
	margin: 0 !important;
} */

@media (max-width: 768px) {
	.swiper-button-next,
	.swiper-button-prev {
		width: 1rem !important;
	}
}

/*  */
/*  */
/*  */

.swiper-wrapper-items-center .swiper-wrapper {
	display: flex;
	align-items: center;
}
